<!DOCTYPE html>
<html>
<head>
  <title>Listopia</title>
  <%= stylesheet_link_tag    "listopia/application", :media => "all" %>
  <%= javascript_include_tag "listopia/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
